<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" style="background-color:#A2A2CE">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link text-warning" asp-controller="Home" asp-action="Index" style="border-radius:10px;background-color:darkslateblue;">
                <i class="bi bi-grid text-warning"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item mt-1">
            <a class="nav-link text-warning" asp-controller="Home" asp-action="VisitList" style="border-radius:10px;background-color:darkslateblue">
                <i class="bi bi-table text-warning"></i><span>My Visit History</span>
            </a>
        </li>

        <li class="nav-item mt-1">
            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Profile" style="border-radius:10px;background-color:darkslateblue">
                <i class="bi bi-person-circle text-warning"></i><span>My Profile</span>
            </a>
        </li>

        @*Light color===============> style="color:#D2CEE8" *@
        
        <li class="nav-item">
            <a class="nav-link text-warning" style="border-radius:10px;background-color:darkslateblue" asp-area="" asp-controller="Home" asp-action="Logout">
                <i class="bi bi-box-arrow-right text-warning"></i><span>Sign Out</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->